form {
    height: 250px;
    width: 400px;
    border:  2px solid black ;
}

h1 {
    text-align: center;
}

.buttons {
    padding: 5px; 
    margin: 20px 10px 0 10px;
    
}

.buttons:hover {
    background-color: aqua;
}

.yo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    margin-left: 10px;
    
}

.entete {
    margin-left: 30px;
}

#Pseudo,
#mdp {
    margin-left: 20px;
    
}

#tick {
    margin-left: 30px;    
}

.entete2 {
    margin-top: 5px;
}